<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="utf-8">
    <load href="__PUBLIC__/ext/ext-all.js" />
    <load href="__PUBLIC__/ext/resources/css/ext-all1.css" />
    <load href="__PUBLIC__/ext/locale/ext-lang-zh_CN.js" />
    <script src="__PUBLIC__/App/Login.js?dt={$dt}" type="text/javascript"></script>

</head>
<body>
<script type="text/javascript">
    Ext.onReady(function () {
		var login = Ext.create('BILL.Login');

        login.show();
 
    });
</script>

</body>
</html>